
<!doctype html>
{% load static %}
{% load bootstrap5 %}
{% include 'inc/header_logIn.html'%}
  <div class="line">
        <h1 class="line">Login</h1>
    </div>
        <div class="row">
            <div class="col-8">
                <form novalidate action="login" method="post">
{#                    <div class="mb-3">#}
{#                         <label for="Username" class="form-label">Username</label>#}
{#                         <input name="username" type="text"  class="form-control" id="username"  value="">#}
{#                    </div>#}
{#                   <div class="mb-3">#}
{#    <label for="Password" class="form-label">Password</label>#}
{#    <input name="password" type="password" class="form-control" id="password" value="">#}
{#  </div>#}
{#                    #}
{#                     <button type="submit" class="btn btn-primary btn btn-success">Sing up!</button>#}
{#                    <div ><a  style="position:relative; top: 30px" class="tegs" href="registration.html">creat new account</a> </div>#}
                {% bootstrap_form form %}
                  <button type="submit" class="btn btn-primary btn btn-success">Signup!</button>
{#                  #}
                </form>
                 <div ><a  style="position:relative; top: 30px" class="tegs" href="{% url 'signup'%}">creat new account</a> </div>
            </div>
        </div>
    </div>
</main>

    <script src="../static/js/bootstrap.bundle.min.js"></script>


  </body>
</html>