<!doctype html>
{% load static %}
{% include 'inc/header_logIn.html'%}
  <div class="line">
        <h1 class="line">Registration</h1>
</div>

{#    <div>#}
{#        <h3 style="padding: 10px 0px 0px; color: red">Sorry, this email address already registred</h3>#}
{#    </div>#}
    <div class="row">
        <div class="col-8 " >
            <form action="signup" method="post">
                {% csrf_token %}
                 {{ form }}

{#                    <div class="mb-3">#}
{#                    <label for="login" class="form-label">Login</label>#}
{#                    <input type="text"  class="form-control" id="login" aria-describedby="emailHelp" value="dr_pepper">#}
{#                  </div>#}
{#                  <div class="mb-3">#}
{#                    <label for="email" class="form-label">Email address</label>#}
{#                    <input type="text" class="form-control" id="email" aria-describedby="emailHelp" value="dr.pepper@mail.ru">#}
{#                  </div>#}
{#                  <div class="mb-3">#}
{#                    <label for="nickname" class="form-label">NickName</label>#}
{#                    <input type="text" class="form-control" id="nickname" value="Dr.Pepper">#}
{#                  </div>#}
{#                                    <div class="mb-3">#}
{#                    <label for="password" class="form-label">Password</label>#}
{#                    <input type="password" class="form-control" id="password" value="1111111">#}
{#                  </div>#}
{#                                    <div class="mb-3">#}
{#                    <label for="password2" class="form-label">Repeat Password</label>#}
{#                    <input type="password" class="form-control" id="password2" value="1111111">#}
{#                                    </div>#}
{#                    <div class="mb-3">#}
{#                        <div style="margin-bottom: 15px">#}
{#                            <label for="avatar" class="form-label">Upload avator</label>#}
{#                            <img  class="log-avatar" style="width: 100px; height: 100px;margin-left: 20px" src="{% static "img/unknown.jpg"%}" alt="">#}
{#                        </div>#}
{##}
{#                        <div class="mb-3 col-sm-8 btn-group-vertical">#}
{#                            <input class="form-control" type="file" id="avatar" value="{% static "img/unknown.jpg"%}">#}
{#                        </div>#}
                        <button type="submit" class="btn btn-success" style="float: right">Register!</button>
{#                  </div>#}
{##}
            </form>
        </div>
    </div>
{#</div>#}

</main>


    <script src="../static/js/bootstrap.bundle.min.js"></script>


  </body>
</html>