
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>index</title>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet">
  </head>
  <body class="d-flex flex-column h-100">

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><h1>AskPechenova</h1></a>
            <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <a href="new_question.html"><button type="button" class="btn btn-success">ASK</button></a>
                </form>
            </div>
            <img style="margin: 5px" class="log-avatar" src="../static/img/img1.png" alt="">
            <div class="user">
                <h1 class="navbar-brand">Dr.Peper</h1>
                <div>
                    <a href="settings.html" style="color: white; margin-right: 5px">Settings</a>
                    <a href="log_in.html" style="color: white">Log out</a>
                </div>
            </div>
        </div>
    </nav>

<!-- Begin page content -->
<main class="flex-shrink-0">
<div class="container">
  <div class="line">
        <h1 class="line">New questions</h1> <h3 class="line"><a class="tegs" href="">Hot Questions </a></h3>
</div>
        <div class="row">
            <div class="col-8">
                <div class="question">
                    <div class="row">
                        <div class="col-2">
                            <div class="avatar">
                                <img src="../static/img/img1.png" alt="" />

                            </div>
                                <button class="button-like">
                                +
                            </button>
                            <button class="button-like">
                                -
                            </button>
                            <button class="button-like"style="background-color: darkseagreen"> 0 </button>
                        </div>
                        <div class="col-10">
                            <a class="navbar-brand" href="one_question.html"><h2 class="question-title">Question 1</h2></a>
                            <div class="question-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ea, expedita hic magnam officia qui quod sed soluta suscipit vitae.
                            </div>
                            <div>
                                <h4 class="teg-inline">Tegs:</h4><a class="tegs" href="">teg1</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="question">
                    <div class="row">
                        <div class="col-2">
                            <div class="avatar">
                                <img src="../static/img/img2.jpeg" alt="" />
                            </div>
                            <button class="button-like">
                                +
                            </button>
                            <button class="button-like">
                                -
                            </button>
                            <button class="button-like"style="background-color: darkseagreen"> 0 </button>
                        </div>
                        <div class="col-10">
                            <h2 class="question-title">Question 2</h2>
                            <div class="question-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ea, expedita hic magnam officia qui quod sed soluta suscipit vitae.
                            </div>
                            <div>
                                <h4 class="teg-inline">Tegs:</h4><a class="tegs" href="">teg2</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="question">
                    <div class="row">
                        <div class="col-2">
                            <div class="avatar">
                                <img src="../static/img/img3.webp" alt="" />
                            </div>
                                <button class="button-like">
                                +
                            </button>
                            <button class="button-like">
                                -
                            </button>
                            <button class="button-like" style="background-color: darkseagreen"> 0 </button>
                        </div>
                        <div class="col-10">
                            <h2 class="question-title">Question 3</h2>
                            <div class="question-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ea, expedita hic magnam officia qui quod sed soluta suscipit vitae.
                            </div>
                            <div>
                                <h4 class="teg-inline ">Tegs:</h4><a class="tegs" href="">teg1</a> </h4><a class="tegs" href="">teg2</a>
                            </div>
                        </div>
                    </div>
                </div>

                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </div>
            <div class="col-4">
                <div>
                    <h1>Popular Tegs</h1>
                </div>
                <div>
                    <div class="tegs">
                        <a class="tegs" href="filter_tag.html" ><h2 class="line">Teg 1</h2></a>
                        <a class="tegs" href="#" ><h3 class="line">Teg 2</h3></a>
                        <a class="tegs" href="#" ><h1 class="line">Teg 3</h1></a>
                        <a class="tegs" href="#" ><h4 class="line">Teg 4</h4></a>
                        <a class="tegs" href="#" ><h2 class="line">Teg 5</h2></a>
                    </div>
                </div>
                <div class="pop-member">
                    <h1 class="pop-member">Best Members</h1>
                    <div>
                       <a class="tegs" href=""><h2 class="">Member 1</h2></a>
                         <a class="tegs" href=""><h2 class="">Member 2</h2></a>
                         <a class="tegs" href=""><h2 class="">Member 3</h2></a>
                    </div>
                </div>

            </div>
        </div>
</div>
</main>

    <script src="../static/js/bootstrap.bundle.min.js"></script>


  </body>
</html>
