<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>login</title>

<link href="../static/css/bootstrap.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet">
  </head>
  <body class="d-flex flex-column h-100">

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html"><h1>AskPechenova</h1></a>
            <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <a href="new_question.html"><button type="button" class="btn btn-success">ASK</button></a>
                </form>
            </div>
            <div class="user">
                <a href="log_in.html" style="color: white; margin-right: 5px">Login</a>
                <a href="registration.html" style="color: white">SignUp</a>
            </div>
        </div>
    </nav>


  <main class="flex-shrink-0">
    <div class="container">
  <div class="line">
        <h1 class="line">Log In</h1>
    </div>
        <div class="row">
            <div class="col-8">
                <form>
                    <div class="mb-3">
                         <label for="exampleInputEmail1" class="form-label">Log In</label>
                         <input type="email"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="Enter your login here">
                    </div>
                   <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" value="11111">
  </div>
                     <button type="submit" class="btn btn-primary btn btn-success">Log In!</button>
                    <div ><a  style="position:relative; top: 30px" class="tegs" href="registration.html">creat new account</a> </div>
                </form>
            </div>
            <div class="col-4">
                <div>
                    <h1>Popular Tegs</h1>
                </div>
                <div>
                    <div class="tegs">
                        <a class="tegs" href="#" ><h2 class="line">Teg 1</h2></a>
                        <a class="tegs" href="#" ><h3 class="line">Teg 2</h3></a>
                        <a class="tegs" href="#" ><h1 class="line">Teg 3</h1></a>
                        <a class="tegs" href="#" ><h4 class="line">Teg 4</h4></a>
                        <a class="tegs" href="#" ><h2 class="line">Teg 5</h2></a>
                    </div>
                </div>
                <div class="pop-member">
                    <h1 class="pop-member">Best Members</h1>
                    <div>
                       <a class="tegs" href=""><h2 class="">Member 1</h2></a>
                         <a class="tegs" href=""><h2 class="">Member 2</h2></a>
                         <a class="tegs" href=""><h2 class="">Member 3</h2></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>

    <script src="../static/js/bootstrap.bundle.min.js"></script>


  </body>
</html>